# Maven
/target/
**/target/
!/.mvn/wrapper/maven-wrapper.jar

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/
.idea/**

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
**/build/

# VS Code
.vscode/

# General files
.DS_Store
*.log
*.bak
*.swp

# Help files
HELP.md
